extends layout.pug

block append head
  script(src='/javascript/displayRolls.js')
  script(src='/javascript/manageRolling.js')

block content
  h1 #{page}
  div.gridContainer
    div.inputArea
      input#playerName(type='text', placeholder='Display name')
      p.hidden#noPlayerNameWarning Please enter a display name.
      h2 Quick Roll
      div
        input.numberInput#quickRollDiceNumber(
          type='number',min='1',step='1',value='1'
        )
        | d
        input.numberInput#quickRollDiceSides(
          type='number',min='1',step='1',value='20'
        )
        button.rollButton(onclick='quickRoll()') Roll
      h2 Add Button
      div
        input.numberInput#newButtonDiceNumber(
          type='number',min='1',step='1',value='1'
        )
        | d
        input.numberInput#newButtonDiceSides(
          type='number',min='1',step='1',value='20'
        )
        | +
        input.numberInput#newButtonTotalModifier(
          type='number',step='1',value='0'
        )
      div.addButtonButtonContainer
        button.addButtonButton(onclick='addButton()') Add
      h2 Custom Buttons
      div#customButtonsContainer
    div.verticalLine
    div#history
